@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
	background-color: #fafafa;
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@font-face {
	font-family: 'Batangas';
	src: local('Batangas'), local('Batangas'), url('./lib/assets/font/BatangasBold700.otf');
	font-weight: normal;
	font-display: swap;
}
